fastapi
uvicorn
sqlalchemy
pymysql
cryptography
python-dotenv
rapidfuzz
openai
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
streamlit
#sentence-transformers
fastembed
faiss-cpu
numpy